.head {
    background-color: pink;
}

.component{
    background-color: aliceblue;
}

.component__image{
    display: inline-block;
    height: 24px;
    width: 24px;
    color: blue;
    background-image: url("image/rmt.svg");
}

/* <div className="header">
        <div className="header-logo">
            
        </div>
        <div className="header__nav-items">
           <ul>
            <li>home</li>
            <li>cart</li>
            <li>profile</li>
           </ul>
        </div>
    </div> */

.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid gray;
}

.header-logo{
    padding: 2px;
    margin: 10px;
    background-image: url("./image/Product\ Board.svg");
    height: 40px;
    width: 63px;
}

/* .header__nav-items{
    padding: auto;
    margin: 10px;
} */

.header__nav-items > ul {
    display: flex;
}

.header__nav-items > ul > li {
    margin: 10px;
    list-style-type: none;
    font-size: 16px;
    font-weight: 600;
    color: rgba(2, 6, 12, 0.75);
    cursor: pointer;
}

.body{
    padding: 10px;
    height: 100%;
    /* margin: 10px; */
    border: 1px solid lightblue;
}

.filter{
    padding: 10px;
    margin: 10px;
    display: flex;
    height: 30px;
}

.filter-btn{
    background-color: blue;
    color: white;
    border-radius: 6px;
    font-size: 14px;
}

.restaurant{
    display: flex;
    flex-wrap: wrap;
}

.rest-card{
    border: 1px solid gray;
    margin: 10px;
    width: 230px;
    height: 372;
    overflow-wrap: break-word;
}

.res-card-info{
    padding: 2px;
    margin: 4px;
}

.res-logo{
    width: 218px;
    height: 248px;
}

.res-name{
    font-size: 16px;
    font-weight: 600;
    color: rgba(2, 6, 12, 0.75);
}

.search-btn{
    padding: 5px;
    margin-right: 10px;
}

/* <div className="shimmer-container">
            shimmer
            <div className="shimmer-card">
                <div className="shimmer-image">

                </div>
                <div className="shimmer-content">

                </div>
            </div>
        </div> */

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 240px;
    height: 336px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    padding: 4px;
}

.shimmer-image{
    height: 220px;
    background-color: #cdc7c7;
    margin-bottom: 5px;
}

.shimmer-content{
    height: 100px;
    background-color: #cdc7c7;
}

.res-link{
    text-decoration: none;
    color: black;
}